html {
	font-size: 16px;
	color: #0D0D0D;
	background-color: #D9D5D2;
	/* font-family: Roboto, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; */
	font-family: 'Times New Roman', Times, serif
}

.header {
	text-align: center;
	padding: 20px;
	font-size: 1.8rem;
}

.nav-container {  
    display: flex;
		justify-content: center;
		div {
			margin: 1rem;
		}
		a:hover {
			background-color: #8AA6A3;	
		}
}

a:visited {
	color: #708C87;
}

a:hover {
	color: #3F403F;
	background-color: #8AA6A3;	
}

.article-list-container {
	text-align: center;
}

.article-list {
	display: inline-block;
	padding: 0;
	list-style-type: none;
	text-align: center;
	font-size: 1.6rem;


	li {
		height: 48px;
		width: 320px;
		@media only screen and (min-width: 600px) {
			width: 420px;
		}
	}

	li:hover {
		color: #3F403F;
		background-color: #8AA6A3;	
	}
}

.article {
	margin: 0 20%;
	@media only screen and (max-width: 600px) {
		margin: 0;
	}
}

.article > p {
	text-align: left;
}

.article > h2 {
	margin-top: 2em;
		@media only screen and (max-width: 600px) {
		text-align: center;
	}
}

body {
  font-size: calc(1.05rem + 0.390625vw);
}

footer {
	font-style: italic;
	width: 100%;
	text-align: center;
}

img {
	height: auto;
	width: 100%;
	/* max-width: 30%; */
}

.code-example {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #8AA6A3;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}