html {
	font-size: 16px;
	color: #0D0D0D;
	background-color: #D9D5D2;
}

.header {
	text-align: center;
	padding: 20px;
	font-size: 1.8rem;
}

.nav-container {  
    display: flex;
		justify-content: center;
		div {
			margin: 1rem;
		}
		a:hover {
			background-color: #8AA6A3;	
		}
		a:visited {
			color: #708C87;	
		}
}

.article-list-container {
	text-align: center;
}

.article-list {
	display: inline-block;
	padding: 0;
	list-style-type: none;
	text-align: center;
	font-size: 1.6rem;


	li {
		width: 420px;
	}

	li:hover {
		background-color: #8AA6A3;	
	}

	a:visited {
		color: #708C87;
	}
}

body {
  font-size: calc(1.05rem + 0.390625vw);
}

.article {
	margin: 0 20%;
	@media only screen and (max-width: 600px) {
		margin: 0;
	}
}

.article > p {
	text-align: left;
}

.article > h2 {
	margin-top: 2em;
		@media only screen and (max-width: 600px) {
		text-align: center;
	}
}